
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
         pageId="1"
         pictureCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1rIWZdIa6hfBRsNAFtrRjPFreZQj9Zomtgg&s" cardTitle="Filme do homem de ferro supreende a todos." cardDescription="Esse filme do iron man vai ser massa demais"></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card 
        pageId="2"
        pictureCover="https://lumiere-a.akamaihd.net/v1/images/eu_disneyplus_avengers-endgame_c169_r_f4af8cb5.jpeg?region=355,0,921,921" cardTitle="O homem de ferro vai voltar em avengers doomsday"></app-small-card>
        <app-small-card
            pageId="3"
        ></app-small-card>
        
        <app-small-card
            pageId="4"
        ></app-small-card>
    </div>
</div>
